<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<main>
    <div th:if="${activityExistMessage}">
        <span th:text="${activityExistMessage}" colspan="2"></span>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="activity : ${activities}">
            <td th:text="${activity.name}"></td>
            <td th:text="${activity.description}"></td>
            <td>
                <a th:href="@{/activity/edit/{id} (id=${activity.id})}" th:text="'Edit'"></a>
            </td>
            <td>
                <a th:href="@{/activity/delete/{id} (id=${activity.id})}" th:text="'Delete'"></a>
            </td>
        </tr>
    </table>
    <hr />
    <a th:href="@{/activity/add}" th:text="'Create new'"></a>
</main>
</body>
</html>