<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Archived activities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<main class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="my-3">Archived Activities</h2>

            <div th:if="${activitiesPage.totalPages == 0}" class="alert alert-dark my-3" role="alert">
                No archived activities
            </div>

            <div th:if="${activitiesPage.totalPages > 0}">
                <nav th:replace="~{fragments/paginationPanel :: paginationPanel}"></nav>

                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Description:</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="activity : ${activitiesPage}">
                            <td th:text="${activity.name}"></td>
                            <td th:text="${activity.description}"></td>
                            <td>
                                <form th:action="@{/activity/activate}" method="POST">
                                    <input type="text" name="id" th:value="${activity.id}" hidden>
                                    <input type="submit" value="Activate" class="btn btn-outline-light">
                                </form>
                            </td>
                            <td>
                                <form class="no-padding" th:action="@{/activity/edit/{id} (id=${activity.id})}" method="GET">
                                    <input class="btn btn-outline-light" type="submit" value="Edit">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>