<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<main>
    <form th:action="@{/activity/add}" th:object="${activityForm}" method="POST">
        <table>
            <tr>
                <td><label for="name" th:text="'Name: '"></label></td>
                <td><input type="text" th:field="*{name}" id="name" /></td>
            </tr>
            <tr>
                <td><label for="description" th:text="'Desciption: '"></label></td>
                <td><input type="text" th:field="*{description}" id="description" /></td>
            </tr>
        </table>
        <input type="submit" th:value="Add">
    </form>
</main>
</body>
</html>