<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<header>
    <div th:replace="~{fragments/header :: header}"></div>
</header>
<main>
    <p th:text="'Are you sure you want to delete this activity ?'"></p>
    <p th:text="${activity.name}"></p>
    <p th:text="${activity.description}"></p>
    <form th:action="@{/activity/delete}" method="POST">
        <input type="hidden" name="activityId" th:value="${activity.id}">
        <input type="submit" th:value="'Yes, delete'">
    </form>
</main>
</body>
</html>