<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/header :: header}"></div>
    </header>
    <div th:if="${param.error}">
        <p th:text="#{login.input.error.data-password}"></p>
    </div>

    <form action="/login" method="POST" >
        <table>
            <tr>
                <td><label for="username" th:text="#{field.login}"></label></td>
                <td><input type="text" name="username" required id="username"></td>
            </tr>
            <tr>
                <td><label for="password" th:text="#{field.password}"></label></td>
                <td><input type="password" name="password" required id="password"></td>
            </tr>
        </table>
        <input type="submit" th:value="#{login.button}">
    </form>
</body>
</html>