<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <header>
        <div th:replace="~{fragments/header :: header}"></div>
    </header>
    <form action="/signup" th:object="${userForm}" method="POST">
        <table>
            <tr>
                <td><label for="login" th:text="#{field.login}"></label></td>
                <td><input type="text" th:field="*{login}" id="login" required ></td>
            </tr>
            <tr th:if="${#fields.hasErrors('login')}">
                <td th:errors="*{login}" colspan="2" ></td>
            </tr>
            <tr th:if="${loginExistMessage}">
                <td th:text="${loginExistMessage}" colspan="2" ></td>
            </tr>

            <tr>
                <td><label for="password"  th:text="#{field.password}"></label></td>
                <td><input type="password" th:field="*{password}" id="password" required></td>
            </tr>
            <tr th:if="${#fields.hasErrors('password')}">
                <td th:errors="*{password}" colspan="2" ></td>
            </tr>

        </table>
        <input type="submit" th:value="#{signup.button}">
    </form>
</body>
</html>