<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SignUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <header>
        <div th:replace="~{fragments/header :: header}"></div>
    </header>
    <form action="/signup" th:object="${userForm}" method="POST">
        <table>
            <tr>
                <td><label for="login" th:text="#{field.login}"></label></td>
                <td><input type="text" th:field="*{login}" id="login" required ></td>
            </tr>
            <tr th:if="${#fields.hasErrors('login')}">
                <td th:errors="*{login}" colspan="2" ></td>
            </tr>
            <tr th:if="${loginExistMessage}">
                <td th:text="${loginExistMessage}" colspan="2" ></td>
            </tr>

            <tr>
                <td><label for="password"  th:text="#{field.password}"></label></td>
                <td><input type="password" th:field="*{password}" id="password" required></td>
            </tr>
            <tr th:if="${#fields.hasErrors('password')}">
                <td th:errors="*{password}" colspan="2" ></td>
            </tr>

        </table>
        <input type="submit" th:value="#{signup.button}">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>